<div class="social">
	<a href="#" class="social__link">
		<import class="social__icon" width="14" height="18 " src="modules/u-icons/vk.svg"></import>
	</a>
	<a href="#" class="social__link">
		<import class="social__icon" width="10" height="20" src="modules/u-icons/facebook.svg"></import>
	</a>
	<a href="#" class="social__link">
		<import class="social__icon" width="18" height="24" src="modules/u-icons/youtube.svg"></import>
	</a>
	<a href="#" class="social__link">
		<import class="social__icon" width="22" height="22" src="modules/u-icons/instagram.svg"></import>
	</a>
</div>
