.social{

	display: flex;

	// elements
	&__{
		&link{
			size: 2rem;
			margin-left: .75rem;

			border-radius: 50%;
			background: white;
			fill: $color__bg--secondary;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		&icon{
			max-size: 50%;
		}
	}
}
