/* stylelint-disable */
.button{
	display: inline-block;

	padding: 0 2.25rem;

	line-height: 2.125rem;
	text-decoration: none;
	text-transform: uppercase;
	color: $color__font--secondary;
	background-color: $color__bg--fourth;
	border-radius: 1rem;
	&:hover{
		opacity: 0.8;
	}
}
