.g-section{

	overflow: hidden;

	// mods
	&--{
		&separated{
			padding-bottom: 3rem;
		}
		&map{
			background-color: $color__bg--third;
			color: white;
		}
	}
	&_bg{
		&_{
			&gray{
				background-color: $color__bg--primary;
			}
			&green{
				background-color: $color__bg--third;
			}
			&orange{
				background-color: $color__bg--secondary;
				border-top: 5px solid $color__bg--fourth;
			}
		}
	}
	// elements
	&__{
		&content{
			box-sizing: border-box;
			max-width: calc($content + 1rem * 2);
			margin: auto;
			padding: * 1rem;

			@media (--desktop-less){
				max-width: calc($content--tablet + 1rem * 2);
			}

			@media (--tablet-less){
				max-width: calc($content--mobile + 1rem * 2);
			}
		}
		&title{
			padding: 2.5rem 0 2rem;
			text-align: center;
			font-size: 3rem;
			font-weight: 100;

			transition-delay: $trsn;
			transition-duration: $trsn;

			// mods
			._NO_VISIBLE &{
				transform: translateX(50vw);
				opacity: 0;
			}
			._VISIBLE &{
				transform: none;
				opacity: 1;
			}
		}
	}
}
