.sub{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.25rem 0;

	@media (--tablet-less){
		text-align: center;

		flex-direction: column;
	}

	// elements
	&__{
		&text{
			font-size: .875rem;
			font-weight: 600;
			color: $color__font--secondary;
		}
		&input{
			box-sizing: border-box;
			height: 2.25rem;

			padding: 0 0.75rem;
			border: 1px solid white;

			font-family: $font-family--primary;
			font-weight: 500;

			background-color: transparent;
			border-radius: initial;

			@media (--tablet-more){
				width: 30%;
				margin-left: 1rem;
			}

			@media (--tablet-less){
				margin: 1rem *;
			}

			// subelements
			&::placeholder{
				opacity: 1;
				color: white;
			}
		}
		&button{
			box-sizing: border-box;
			border: none;
			height: 2.125rem;
			border-radius: 1rem;
			padding: 0 1.375rem;
			font-family: $font-family--primary;
			font-size: 1rem;
			font-weight: 500;
			background-color: $color__bg--fourth;
			color: $color__font--secondary;
			cursor: pointer;

			@media (--tablet-more){
				width: 11.25rem;
				margin-left: 1rem;
			}

			// mods
			&:hover{
				opacity: 0.8;
			}
		}
	}
}
