<form action="action.php" class="sub">
	<div class="sub__text">ПОДПИШИТЕСЬ И УЗНАВАЙТЕ ПЕРВЫМ О СПЕЦПРЕДЛОЖЕНИЯХ</div>
	<input type="text" class="sub__input" placeholder="E-MAIL"/>
	<button class="sub__button">ПОДПИСАТЬСЯ</button>
</form>
