<div class="footer">
	<div class="footer__head">
		<div class="footer__head-left">
			<div class="footer__title">Корпорация GOOD WOOD</div>
			<div class="footer__subtitle">Современное  строительство</div>
		</div>
		<div class="footer__head-right">
			<a href="#" class="footer__phone">8 800 333-11-11</a>
		</div>
	</div>
	<div class="footer__body">
		<div class="footer__body-left">
			<div class="footer__text">Современные дома из клееного бруса: собственное производство клееного бруса, проектирование и строительство. Корпорация GOOD WOOD — это собственное проектно-архитектурное бюро, деревообрабатывающий комбинат и строительная компания. Мы создаем современные дома и коммерческие здания из клееного бруса «под ключ», контролируя качество на всех этапах.</div>
			<div class="footer__copyright">© 2017, GOOD WOOD</div>
		</div>
		<div class="footer__body-center">
			<div class="footer__menu">
				<a href="#" class="footer__link">Вакансии</a>
				<a href="#" class="footer__link">Сертификаты и лицензии</a>
				<a href="#" class="footer__link">Продажа опилок, обрезков</a>
				<a href="#" class="footer__link">Поставщикам</a>
				<a href="#" class="footer__link">Политика конфиденциальности</a>
				<a href="#" class="footer__link">Реквизиты</a>
				<a href="#" class="footer__link">Контакты</a>
			</div>
		</div>
		<div class="footer__body-right">
			<div class="footer__inline">
				<img src=":90x30" alt="" class="footer__img" />
				<import src="modules/search/search.html"></import>
			</div>
			<div class="footer__social">
				<import src="modules/social/social.html"></import>
			</div>
		</div>
	</div>
</div>
