.footer{
	padding: 2rem 0 1.25rem;
	color: $color__font--secondary;

	// elements
	&__{
		&head{
			margin-bottom: 1.5rem;

			display: flex;

			@media (--tablet-more){
				justify-content: space-between;
				align-items: center;
			}

			@media (--tablet-less){
				align-items: center;
				flex-direction: column-reverse;

				text-align: center;
			}
		}
		&title{
			font-size: 1.125rem;
		}
		&subtitle{
			font-size: 0.875rem;
		}
		&phone{
			font-size: 3rem;
			text-decoration: none;
			color: inherit;
		}
		&body{
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			@media (--tablet-less){
				flex-direction: column-reverse;
			}

			// subelements
			&-{
				&right{
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: space-between;

					@media (--tablet-less){
						align-items: center;
					}
				}
			}
		}
		&text{
			font-size: 0.75rem;
			font-weight: 300;

			@media (--tablet-more){
				max-width: 19rem;
			}
		}
		&copyright{
			margin-top: 2rem;
			font-weight: 0.875rem;
			font-weight: 600;
		}
		&menu{

			@media (--tablet-less){
				margin: 2rem *;
			}
		}
		&link{
			display: block;
			text-decoration: none;
			white-space: nowrap;
			color: inherit;

			@media (--tablet-more){
				padding: .25rem *;

				font-size: .875rem;
			}

			@media (--tablet-less){
				padding: .5rem;

				font-size: 1.25rem;
			}
		}
		&inline{
			display: flex;
			align-items: center;

			@media (--desktop-less){
				flex-direction: column;
				align-items: flex-end;
			}
			@media (--tablet-less){
				margin-bottom: 1rem;

				align-items: center;
			}
		}
		&img{
			@media (--desktop-more){
				margin-right: 2.75rem;
			}
			@media (--desktop-less){
				margin-bottom: 1rem;
			}
		}
	}
}
