.clients{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// elements
	&__{
		&img{
			display: block;
			margin-bottom: 2rem;

			@media (--tablet-less){
				max-width: calc(50% - .5rem);
			}
		}
	}
}
