$color__black: #000;
$color__white: #fff;
$color__white--dark: #f3f3f3;
$color__gray: #333;
$color__gray--light: #565656;
$color__orange: #c63;
$color__orange-light: #e77a13;
$color__green: #9c3;
$color__green--dark: #387936;

$color--primary: $color__green;

$color__font--primary: $color__gray;
$color__font--secondary: $color__white;
$color__font--third: $color__gray--light;

$color__bg--primary: $color__white--dark;
$color__bg--secondary: $color__orange;
$color__bg--third: $color__green--dark;
$color__bg--fourth: $color__green;

