$media__widedesktop_max: 1601px;
$media__widedesktop_min: 1366px;

$media__desktop_min: 1024px;

$media__tablet_min: 768px;

$media__phone_min: 320px;

@custom-media --widedesktop-more (width >= $media__widedesktop_min);
@custom-media --widedesktop-only (width >= $media__widedesktop_min) and (max-width: $media__widedesktop_max);
@custom-media --widedesktop-less (width < $media__widedesktop_min);

@custom-media --desktop-more (width > $media__desktop_min);
@custom-media --desktop-only (width > $media__desktop_min) and (width < $media__widedesktop_min);
@custom-media --desktop-less (width < $media__desktop_min);

@custom-media --tablet-more (width >= $media__tablet_min);
@custom-media --tablet-only (width >= $media__tablet_min) and (width < $media__desktop_min);
@custom-media --tablet-less (width < $media__tablet_min);

@custom-media --phone-more (width >= $media__tablet_min);
@custom-media --phone-only (width >= $media__phone_min) and (width < $media__tablet_min);
@custom-media --phone-more (width < $media__tablet_min);
