@define-mixin responsive-type $min-size, $max-size, $min-width, $max-width{
	font-size: calc($(min-size)px + ($max-size - $min-size) * ((100vw - $(min-width)px) / ($max-width - $min-width)));

	@media (min-width: $(max-width)px){
		font-size: $(max-size)px;
	}

	@media (max-width: $(min-width)px){
		font-size: $(min-size)px;
	}
}

@define-mixin ratio $width, $height{
	position: relative;
	height: 0;
	padding: initial initial calc($height / $width * 100%);
	overflow: hidden;
}
