<div class="intro g-section">
	<div class="intro__scroll">
		<import class="intro__mouse" src="modules/u-icons/mouse.svg" width="37" height="95"></import>
	</div>
	<ul class="intro__wrap">
		<li class="intro__slide _active">
			<import src="modules/banner/banner.html"></import>
		</li>
		<li class="intro__slide">
			<import src="modules/banner/banner.html"></import>
		</li>
		<li class="intro__slide">
			<import src="modules/banner/banner.html"></import>
		</li>
	</ul>
	<nav class="intro__nav">
		<li class="intro__dot _active"></li>
		<li class="intro__dot"></li>
		<li class="intro__dot"></li>
	</nav>
</div>
