.intro{
	position: relative;

	color: white;

	// elements
	&__{
		&wrap{
			@extend %list;

			position: relative;

			min-height: 70vh;
		}
		&slide{
			position: absolute 0;

			transition: $trsn;

			// mods
			&:not(._active){
				visibility: hidden;
				opacity: 0;
			}
		}
		&scroll{
			position: absolute 5% * * 50%;
			transform: translateX(-50%);
			z-index: $z-over;
		}
		&mouse{
			max-size: 2.25rem 6rem;
		}
		&nav{
			@extend %list;

			position: absolute * * 5% 50%;
			z-index: $z-over;
			transform: translateX(-50%);

			display: flex;

			@media (--desktop-less){
				display: none;
			}
		}
		&dot{
			size: 1rem;
			border: 1px solid currentColor;
			margin: * .25rem;

			border-radius: 50%;
			cursor: pointer;

			transition: $trsn;

			// mods
			&._active{
				background-color: currentColor;
			}
		}
	}
}
