<div class="benefits">
	<div class="benefit">
		<div class="benefit__preview">
			<img src=":470x430" alt="" class="benefit__img" />
		</div>
		<div class="benefit__info">
			<div class="benefit__title">УДОБНОЕ СТРОИТЕЛЬСТВО</div>
			<div class="benefit__body">
				<div class="benefit__tabs">
					<div class="benefit__tab _active">Личный кабинет</div>
					<div class="benefit__tab">GOODZONE</div>
				</div>
				<div class="benefit__contents">
					<div class="benefit__content _active">
						<p>Этот сервис позволяет Вам контролировать процесс в режиме реального времени, не присутствуя на площадке. Информация о текущих работах и результатах очередной приемки, фотоотчеты прорабов, комментарии инженеров технического надзора — вы не пропустите ни одного важного события в процессе возведения дома. </p>
						<p>В личном кабинете хранятся копии всех документов, которые могут потребоваться в ходе строительства. Здесь же фиксируется информация о стоимости каждого этапа строительства, гарантия неизменности оговоренной цены, которая является важным преимуществом работы с нашей компанией.</p>
					</div>
					<div class="benefit__content">
						<p>Этот сервис позволяет Вам контролировать процесс в режиме реального времени, не присутствуя на площадке. Информация о текущих работах и результатах очередной приемки, фотоотчеты прорабов, комментарии инженеров технического надзора — вы не пропустите ни одного важного события в процессе возведения дома. </p>
						<p>В личном кабинете хранятся копии всех документов, которые могут потребоваться в ходе строительства. Здесь же фиксируется информация о стоимости каждого этапа строительства, гарантия неизменности оговоренной цены, которая является важным преимуществом работы с нашей компанией.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="benefit__preview">
			<img src=":470x430" alt="" class="benefit__img" />
		</div>
		<div class="benefit__info">
			<div class="benefit__title">КУЛЬТУРА СТРОИТЕЛЬСТВА</div>
			<div class="benefit__body">
				<div class="benefit__tabs">
					<div class="benefit__tab _active">АДМИНИСТРАТИВНЫЙ КОНТРОЛЬ</div>
					<div class="benefit__tab">НЕЗАВИСИМЫЙ ТЕХНАДЗОР</div>
				</div>
				<div class="benefit__contents">
					<div class="benefit__content _active">
						<p>1Порядок на строительной площадке — непременное условие успешной реализации проекта. Для того, чтобы обеспечить соблюдение правил и норм, в GOOD WOOD работают инспекторы административного стандарта. Они осуществляют выезды по собственному графику, без предупреждения проверяя объекты на соответствие правилам безопасности и нормам трудовой дисциплины.</p>
						<p>Аналогов этого подразделения на российском строительном рынке нет.</p>
					</div>
					<div class="benefit__content">
						<p>1Порядок на строительной площадке — непременное условие успешной реализации проекта. Для того, чтобы обеспечить соблюдение правил и норм, в GOOD WOOD работают инспекторы административного стандарта. Они осуществляют выезды по собственному графику, без предупреждения проверяя объекты на соответствие правилам безопасности и нормам трудовой дисциплины.</p>
						<p>Аналогов этого подразделения на российском строительном рынке нет.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
