.benefit{
	display: flex;
	align-items: stretch;

	@media (--tablet-less){
		flex-direction: column;
	}

	// mods
	&:nth-child(2n){
		@media (--tablet-more){
			flex-direction: row-reverse;
		}
	}

	// elements
	&__{
		&preview,
		&info{

			@media (--tablet-more){
				width: 50%;
			}
		}
		&preview{

			overflow: hidden;
		}
		&img{

			display: block;

			@media (--tablet-more){
				position: relative;
				left: 50%;
				transform: translateX(-50%);

				size: auto 100%;

				object-fit: cover;
			}

			@media (--tablet-less){
				size: 100% auto;
			}
		}
		&info{
			box-sizing: border-box;
			background-color: $color__bg--primary;

			@media (--tablet-more){
				padding: 2rem 1.5rem 1rem 2.5rem;
			}

			@media (--tablet-less){
				padding: 1rem;
			}
		}
		&title{
			font-size: 1.75rem;
			text-transform: uppercase;
		}
		&body{
			margin-top: 2rem;
		}
		&tabs{
			display: flex;
		}
		&tab{
			font-size: 0.875rem;
			text-transform: uppercase;

			// mods
			&:not(:last-child){
				margin-right: 2.5rem;
			}
			&:not(._active){
				cursor: pointer;
			}
			&._active{
				line-height: 1.5rem;
				font-weight: 700;
				border-bottom: 1px solid $color__font--primary;
			}
		}
		&content{
			font-size: 0.875rem;
			&:not(._active){
				display: none;
			}
		}
	}
}
