.map{
	position: relative;

	padding-bottom: 4rem;
	margin: * -1rem;

	overflow: hidden;

	@media (--tablet-more){
		margin-top: -8rem;
	}

	// elements
	&__{
		&value{
			margin-right: .5rem;

			font-size: 3em;
		}
		&families,
		&footer{
			position: relative;
			z-index: $z-over;
		}
		&families{

			@media (--tablet-more){
				position: absolute 12rem * * 0;

				font-size: 2.5rem;
			}

			@media (--tablet-less){
				font-size: 1.5rem;

				text-align: center;
			}
		}
		&russia{
			@mixin ratio 14, 10;

			@media (--tablet-more){
				margin: * -2rem -6rem;
			}
		}
		&svg{
			position: absolute 0;
			size: 100%;
		}
		&footer{

			@media (--desktop-more){
				margin-left: 10rem;
			}

			@media (--tablet-more){
				font-size: 1.3rem;
			}
		}
		&stats{

			@media (--tablet-more){
				display: flex;
				justify-content: space-between;
			}

			@media (--tablet-less){
				text-align: center;
			}
		}
		&stat{
			flex-basis: calc(50% - 1rem);

			text-align: left;

			display: inline-flex;
			align-items: center;
		}
		&note{

			@media (--tablet-less){
				text-align: center;
			}
		}
	}
}
.map-{
	&house{
		transform-origin: 50% 50%;

		transition-duration: calc($trsn * 3);

		// mods
		._NO_VISIBLE &{
			transform: scale(0);
		}
	}
	&cloud{
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		// mods
		&:first-child{
			animation-name: map__cloud1;
			animation-duration: 6s;
		}
		&:last-child{
			animation-name: map__cloud2;
			animation-duration: 8s;
		}
	}
	&st0{
		enable-background:new;
	}
	&st1{
		fill:#526614;
	}
	&st2{
		fill:#5B7217;
	}
	&st3{
		fill:#586E16;
	}
	&st4{
		fill:#556A15;
	}
	&st5{
		fill:#7AB432;
	}
	&st6{
		fill:#4E6214;
	}
	&st7{
		fill: url(#map-gradient--1);
	}
	&st8{
		fill: url(#map-gradient--2);
	}
	&st9{
		fill: url(#map-gradient--3);
	}
	&st10{
		fill: url(#map-gradient--4);
	}
	&st11{
		fill:#50A4B2;
	}
	&st12{
		fill:#6AD4F3;
	}
	&st13{
		fill:#FFFFFF;
	}
	&st14{
		fill:#C2462F;
	}
	&st15{
		fill:#DBE6DD;
	}
	&st16{
		fill:#8D998F;
	}
	&st17{
		fill:#F42C11;
	}
	&st18{
		fill:#D6720D;
	}
	&st19{
		fill:#63472E;
	}
	&st20{
		fill:#689A33;
	}
	&st21{
		fill:#8C653A;
	}
	&st22{
		fill:#667F27;
	}
}

@keyframes map__cloud1{
	50%{
		transform: translate(-1vw, -3vw) scale(1.1);
	}
}

@keyframes map__cloud2{
	50%{
		transform: translate(-3vw, 3vw) scale(.8);
	}
}
