<div class="map">
	<div class="map__families">
		<div class="map__value">
			<div class="map__numb">3010</div>
		</div>
		<div class="map__label">семей живут<br>в наших домах</div>
	</div>
	<div class="map__russia">
		<import class="map__svg" width="1004" height="710" src="modules/map/map.svg"></import>
	</div>
	<div class="map__footer">
		<div class="map__stats">
			<div class="map__stat">
				<div class="map__value">
					<span class="map__numb">93</span>%
				</div>
				<div class="map__label">клиентов <br>рекомендуют нас*</div>
			</div>
			<div class="map__stat">
				<div class="map__value">
					<span class="map__numb">11</span> лет
				</div>
				<div class="map__label">строим дома <br>по всей России</div>
			</div>
		</div>
		<div class="map__note">*Мы следим за индексом NPS — уровнем лояльности наших клиентов</div>
	</div>
</div>
