<ul class="news">
	<li class="news__item" repeat="3">
		<header class="news__head">РУБРИКА</header>
		<date class="news__date">
			<span class="news__date-day">09</span>/<span class="news__date-month">01</span>
		</date>
		<h5 class="news__title">GOOD ZONE — конкурентное преимущество в IT-технологиях</h5>
		<p class="news__text">Корпорация GOOD WOOD приступает к внедрению мобильного приложения GOOD ZONE, которое позволит вывести темпы и качество строительства загородных домов от GOOD WOOD на принципиально новый уровень.</p>
		<a href="#" class="news__read">Подробнее</a>
	</li>
</ul>
