.news{
	@extend %list;

	color: $color__font--third;

	@media (--tablet-more){
		display: flex;
		justify-content: space-between;
	}

	// mods

	// elements
	&__{
		&item{
			flex-basis: calc(1 / 3 * 100% - 3rem);

			@media (--desktop-less){
				flex-basis: calc(1 / 3 * 100% - 1rem);
			}
		}
		&head{
			display: inline-block;
			border-bottom: 3px solid $color--primary;

			letter-spacing: .25em;
			font-size: .875rem;
			font-weight: 700;
		}
		&date{
			display: block;
			margin-top: .75rem;

			font-size: 1.625rem;

			// subelements
			&-{
				&month{
					font-size: 1.25rem;
					font-weight: 500;
				}
			}
		}
		&title{
			font-size: 1.125rem;
			font-weight: 700;
		}
		&text{
			font-size: .875rem;
		}
		&read{
			display: inline-block;
			margin-top: 2rem;

			text-decoration: none;
			text-transform: uppercase;

			color: $color--primary;

			// mods
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
