<div class="projects">
	<div class="project">
		<div class="project__label project__label--sale">Акция</div>
		<div class="project__preview">
			<img src=":300x190" alt="" class="project__img" />
		</div>
		<div class="project__name">Проект КД-225</div>
		<div class="project__info">
			<div class="project__info-item">
				<import class="project__icon" width="15" height="15" src="modules/u-icons/square-h.svg"></import>
				225 кв.м
			</div>
			<div class="project__info-item">
				<import class="project__icon" width="15" height="15" src="modules/u-icons/square-dev.svg"></import>
				10х10м
			</div>
		</div>
		<div class="project__prices">
			<div class="project__price project__price--old">
				<span class="project__price-value">6 490 000</span>
			</div>
			<div class="project__price project__price--new">
				<span class="project__price-value">6 490 000</span>
			</div>
		</div>
	</div>
	<div class="project">
		<div class="project__label project__label--new">New</div>
		<div class="project__preview">
			<img src=":300x190" alt="" class="project__img" />
		</div>
		<div class="project__name">Проект КД-225</div>
		<div class="project__info">
			<div class="project__info-item">
				<import class="project__icon" width="15" height"15" src="modules/u-icons/square-h.svg"></import>
				225 кв.м
			</div>
			<div class="project__info-item">
				<import class="project__icon" width="15" height"15" src="modules/u-icons/square-dev.svg"></import>
				10х10м
			</div>
		</div>
		<div class="project__prices">
			<div class="project__price project__price--fix">
				<span class="project__price-value">6 490 000</span>
			</div>
		</div>
	</div>
	<div class="project">
		<div class="project__preview">
			<img src=":300x190" alt="" class="project__img" />
		</div>
		<div class="project__name">Проект КД-225</div>
		<div class="project__info">
			<div class="project__info-item">
				<import class="project__icon" width="15" height"15" src="modules/u-icons/square-h.svg"></import>
				225 кв.м
			</div>
			<div class="project__info-item">
				<import class="project__icon" width="15" height"15" src="modules/u-icons/square-dev.svg"></import>
				10х10м
			</div>
		</div>
		<div class="project__prices">
			<div class="project__price project__price--fix">
				<span class="project__price-value">6 490 000</span>
			</div>
		</div>
	</div>
</div>
