.project{
	position: relative;
	margin-bottom: 3rem;
	background-color: $color__white;

	@media (--tablet-more){
		width: 32%;
	}

	// wrapper
	&s{
		display: flex;
		justify-content: space-between;

		@media (--tablet-less){
			flex-direction: column;
		}
	}

	// elements
	&__{
		&label{
			position: absolute;
			top: .25rem;
			left: 0;

			width: 6rem;

			transform: skewY(-15deg);

			line-height: 2rem;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.25rem;
			font-weight: 700;
			color: $color__font--secondary;

			// mods
			&--{
				&sale{
					background-color: $color__orange-light;
				}
				&new{
					background-color: $color__bg--fourth;
				}
			}
		}
		&img{
			width: 100%;
			height: auto;
		}
		&name{
			padding: 0 1rem;
			font-size: 1.375rem;
			font-weight: 300;
			border-bottom: 1px dotted color($color__gray--light a(0.1));
		}
		&icon{
			max-size: 1rem;
			margin-right: .5rem;
		}
		&info{
			display: flex;
			padding: 0 1rem;
			margin-top: 0.5rem;
			&-{
				&item{
					margin-right: 1rem;

					display: flex;
					align-items: center;
				}
			}
		}
		&prices{
			display: flex;
			justify-content: space-between;
			padding: 0.5rem 1rem;
		}
		&price{

			font-style: italic;
			font-size: 1.375rem;
			font-weight: 700;
			color: $color__font--third;

			display: flex;

			// mods
			&--{
				&new{
					color: $color__orange-light;
				}
			}
			&--old &-value{
				text-decoration: line-through;
			}

			// subelements
			&::after{
				content: ', -';
			}
		}
	}
}
