<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<title>Goodwood</title>
	<link rel="stylesheet" href="styles.css">
	<script src="defer.js" defer></script>
</head>
