<form class="search">
	<button class="search__button">
		<import class="search__icon" width="27" height="27" src="modules/u-icons/loupe.svg"></import>
	</button>
	<input type="text" class="search__input" />
</form>
