.search{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 2.125rem;
	border-radius: 1rem;
	background-color: $color__white;

	// elements
	&__{
		&input{
			box-sizing: border-box;
			border: none;
			background-color: transparent;
			font-family: $font-family--primary;
		}
		&button{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3rem;
			height: 100%;
			background-color: transparent;
			border: none;

			cursor: pointer;
		}
		&icon{
			fill: $color__font--third;
		}
	}
}
