<div class="banner">
	<img src=":1920x720" alt="" class="banner__image" />
	<div class="banner__footer">
		<div class="banner__content">
			<div class="banner__info">
				<div class="banner__text">
					<p>Мы строим дома для людей и осуществляем их мечту. Этот проект — мечта для сотрудников GOOD WOOD!</p>
					<p>Здесь будет работать наша большая семья, готовая принять новых друзей.</p>
				</div>
				<a href="#" class="banner__button button">Подробнее</a>
			</div>
		</div>
	</div>
</div>
