.banner{
	position: relative;

	height: 100%;
	min-height: 50vh;

	// elements
	&__{
		&image{
			position: absolute;
			size: 100%;

			object-fit: cover;
		}
		&footer{
			position: absolute * 0 0;
			z-index: $z-over;
		}
		&content{
			@extend .g-section__content;
		}
		&info{
			position: relative;
			box-sizing: border-box;
			max-width: 24rem;

			// background-color: color($color__bg--secondary a(.5));
			background-image: linear-gradient(-35deg, color($color__bg--secondary a(.5)) 0%, color($color__bg--secondary a(.5)) 50%, color($color__bg--secondary a(.75)) 50%, color($color__bg--secondary a(.75)) 100%);
			background-position: center bottom;
			color: white;

			@media (--tablet-more){
				padding: 3rem 3.25rem 2.25rem 3.75rem;
			}

			@media (--tablet-less){
				padding: 1rem 2rem;
			}

			// pseudo-elements
			&::before{
				position: absolute;
				top: 0;
				left: 0;
				width: 200%;
				height: 100%;

				transform: rotate(45deg) translate(-50%, -50%);

				background-color: color($color__bg--secondary a(.5));
			}
		}
		&title{
			font-size: 2.5rem;
			font-weight: 100;
			line-height: 3.125rem;
		}
		&title + &text{
			margin-bottom: 2rem;
		}
		&text{
			font-size: 1.25rem;
			font-weight: 300;
			line-height: 1.625rem;

			// mods
			&:not(:first-child){
				margin-top: 2rem;
			}
		}
		&button{
			margin-top: 1rem;
		}
	}
}
