<!--htmlhint spec-char-escape:false -->
<div class="banner">
	<img src=":1920x720" alt="" class="banner__image" />
	<div class="banner__footer">
		<div class="banner__content">
			<div class="banner__info">
				<div class="banner__title">ВЫБЕРИТЕ СВОЙ ДОМ</div>
				<div class="banner__text">Индививидуальные проекты Портфолио архитекторов</div>
				<a href="#" class="banner__button button">ПОДРОБНЕЕ</a>
			</div>
		</div>
	</div>
</div>
